html {
  font-family: "Roboto", sans-serif;
}

.user-input {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-column-gap: 10px;
}

.report-url {
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: 10px;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: max-content auto;
}
